
/*#logo {
  content: url("../images/logo.png");
  margin-top: 10px;
  height: 35px;
  width: 55px;
}*/

#company-name {
  margin-left: 0px;
}

h1 {
  font-size: 138px;
  font-family: "Courier New";
}

h2 {
  font-size: 35px;
  font-family: "Courier New";
  text-align: center;
}
